<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="DstntVO" type="com.ttrip.admin.dstnt.vo.DstntVO"/>
		<typeAlias alias="DstntDomain" type="com.ttrip.admin.dstnt.domain.DstntDomain"/>
	
	</typeAliases>

<!-- 	<mappers>
		<mapper resource="mapper/AdminDstntMapper.xml"/>
		<mapper resource="mapper/tripBoardMapper.xml"/>
	</mappers> -->
</configuration>