<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com/ttrip/user/comment">


<!-- 댓글 입력 -->
<insert id="insertComment">
	INSERT INTO comments (commentID, nick, boardID, detail, status, input_date)
	VALUES (seq_comment.NEXTVAL, #{nick}, #{boardID}, #{detail}, 'Y', SYSTIMESTAMP)
</insert>

<!-- 댓글 목록 -->
<select id="selectCommentList" resultType="com.ttrip.user.comment.CommentDomain">
	SELECT commentId, boardId, nick, content, status, inputDate
	FROM   comments
</select>

</mapper>




