<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttrip"><!-- namespace: 자바의 패키지와 비슷 -->

<!-- 여행 일정과 숙소 추가 -->
  <!-- <insert id="addTripPlan" parameterType="map">
    INSERT INTO trip_plan (course_id, trip_date, type, name)
    VALUES 
    <foreach collection="tripDetails" item="detail" separator=",">
      (#{courseId}, #{detail.tripDate}, #{detail.type}, #{detail.name})
    </foreach>
  </insert>

 특정 여행 코스 조회
  <select id="getTripCourse" parameterType="int" resultMap="tripCourseResultMap">
    SELECT
      tp.course_id,
      tp.trip_date,
      tp.type,
      tp.name
    FROM
      trip_plan tp
    WHERE
      tp.course_id = #{courseId}
    ORDER BY
      tp.trip_date ASC,
      FIELD(tp.type, 'dstnt', 'accom') ASC
  </select>

  여행 코스 결과 매핑
  <resultMap id="tripCourseResultMap" type="tripCourseDomain">
    <id property="courseId" column="course_id" />
    <result property="tripDate" column="trip_date" />
    <result property="type" column="type" />
    <result property="name" column="name" />
  </resultMap> -->
  
  <select id="getDestinationsByRegion" parameterType="int" resultType="com.ttrip.dstmt.DstntDomain">
    SELECT 
        DSTNTID AS dstntId,
        name,
        addr,
        phone,
        status,
        img,
        detail,
        lat,
        lng
    FROM 
        DSTNT
    WHERE 
        regionID = #{regionId}
</select>


<select id="getAccommodationsByRegion" parameterType="int" resultType="com.ttrip.accom.AccomDomain">
    SELECT 
        accomID AS accomId,
        name,
        addr,
        phone,
        status,
        lat,
        lng
    FROM 
        ACCOM
    WHERE 
        regionID = #{regionId}
</select>

  
</mapper>