<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ttrip.tripboard.TripBoardMapper"><!-- namespace: 자바의 패키지와 비슷 -->

  <!-- 특정 region(지역 이름)에 해당하는 여행지(DSTNT) 조회 -->
    <select id="getDestinationsByRegion" parameterType="string" resultType="com.ttrip.dstnt.domain.DstntDomain">
        SELECT 
            d.DSTNTID AS dstntId,
            d.name,
            d.addr,
            d.phone,
            d.status,
            d.img,
            d.detail,
            d.lat,
            d.lng
        FROM 
            DSTNT d
        INNER JOIN 
            region r
        ON 
            d.regionID = r.regionID
        WHERE 
            r.region = #{region}
    </select>

	<!-- 특정 region(지역 이름)에 해당하는 숙소(Accom) 조회 -->
    <select id="getAccommodationsByRegion" parameterType="string" resultType="com.ttrip.accom.AccomDomain">
        SELECT 
            a.accomID AS accomId,
            a.name,
            a.addr,
            a.phone,
            a.status,
            a.lat,
            a.lng
        FROM 
            accom a
        INNER JOIN 
            region r
        ON 
            a.regionID = r.regionID
        WHERE 
            r.region = #{region}
    </select>

    <!-- TripPlan ID 자동 증가 -->
    <select id="getNextTripPlanId" resultType="int">
        SELECT COALESCE(MAX(tripPlanId), 0) + 1 AS nextId
        FROM trip_plan
    </select>

    <!-- TripBoard ID 자동 증가 -->
    <select id="getNextTripBoardId" resultType="int">
        SELECT COALESCE(MAX(tripBoardId), 0) + 1 AS nextId
        FROM trip_board
    </select>

    <!-- TripPlan 저장 -->
    <insert id="saveTripPlan" parameterType="map">
        INSERT INTO trip_plan (trip_planId, trip_boardId, plan_title, visit_order, trip_date)
        VALUES (#{tripPlanId}, #{tripBoardId}, #{planTitle}, #{visitOrder}, #{trip_date})
    </insert>

    <!-- Course 저장 -->
    <insert id="saveCourse" parameterType="map">
        INSERT INTO course (trip_planId, DSTNTID)
        VALUES (#{tripPlanId}, #{DSTNTID})
    </insert>

    <!-- AccomPlan 저장 -->
    <insert id="saveAccomPlan" parameterType="map">
        INSERT INTO accom_plan (trip_planId, accomID)
        VALUES (#{tripPlanId}, #{accomID})
    </insert>
  
</mapper>